resources:
# Updating clusters does not work yet https://issuetracker.google.com/issues/38131324
# Uncomment changes once this works.
- name: cluster
  type: container.v1.cluster
  properties:
    zone: {{ properties['zone'] }}
    cluster:
      name: cluster
      initialNodeCount: {{ properties['numNodes'] }}
      nodeConfig:
        machineType: {{ properties['machineType']}}
        oauthScopes:
        - https://www.googleapis.com/auth/cloud-platform
        serviceAccount: $(ref.cluster-serviceaccount.email)
- name: cluster-serviceaccount
  type: iam.v1.serviceAccount
  properties:
    accountId: cluster
    displayName: Kubernetes Cluster Account


